/*csslint ids: false, box-model: false*/



/**************************************
GENERAL
***************************************/
body{
    font-family: 'open cursive', cursive;
}

#wrapper{
     background-color: hotpink;
    margin: 0 auto;
    max-width: 940;
    padding: 0 5%;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%; 
}

h3{
margin: 0 0 1em 0;
    
}

/****************************
HEADER
*****************************/
header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}


#logo{
    color: deeppink;
    margin: 0;
    text-align: center;
   
}

h1{
    color:hotpink;
    font-family: 'Butcherman', cursive;
    font-size: 1.75em;
    margin:15px 0;  
}

h2{
    color:black;
    font-size: 0.75em;
    font-weight: normal;
    margin: -5px 0 0;
}
    

/*********************************************
NAVIGATION
*********************************************/
nav{
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav ul{
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
    
}

nav li{
    display: inline-block;
}

nav a{
     font-weight: 900;
     padding: 15px 10px;
   
   
}


/*********************************************
FOOTER
*********************************************/
footer{
     clear: both;
    color: green;
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
    
}

.social-media-icon{
    height: 20px;
    margin: 0 5px;
    width: 20px;
}

.instagram{
    height: 20px;
    margin: 0 5px;
    width: 20px;
}


/*********************************************
PORTFOLIO PAGE
*********************************************/
#gallery{
    list-style: none;
    margin: 0;
    padding: 0;
}


#gallery li{
     background-color: hotpink;
    color:black;
    float: left;
    margin: 2.5%;
    width: 45%;
}
#gallery li a p{
    color: black;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
    
    
}

/*********************************************
ABOUT ME PAGE 
*********************************************/
.portfolio-photo {
    border-radius: 25%; 
   display: block;
   max-width: 900px;
       
}








/*********************************************
COLORS
*********************************************/
body{
    background-color: white;
    color:black;
        
}


a{
    color: black;
}

header{
   background: black; 
}


nav{
    background:black;
}

nav a , nav a:visited {
    color:white;
}

nav .selected, nav a:hover {
    color: hotpink;
}


/**************************************
MEDIA QUERY
***************************************/
/* TWO COLLUM LAYOUT*/
@media screen  and  (min-width: 480px){
    #primary {
        float: left;
        width: 50%;
        
    }
    #secondary {
          float: left;
        width: 40%;
      
    }
    
    /*THREE COLUMC LAYOUT PORTFOLIO*/
    #gallery li{
        width:  28.3333%;
    }
    
    #gallery li:nth-child(4n){
        clear: left;
    }
    /*ABOUT*/
    .portfolio-photo{
        float: left;
        margin: 0 5% 80% 0;
    }
    
}
    @media screen and (min-width: 660px){
        
    }
















